*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --mobile-statusbar-offset: 62px;
}

body,
body *,
body *::before,
body *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

button {
  border: none;
}

a,
button {
  cursor: pointer;
}
ul,
li {
  list-style: none;  
}

@media (max-width: 430px) {
  body {
    padding-top: var(--mobile-statusbar-offset);
    background: #f0f1f5;
  }
}