.card {
  background: #fff;
  border-radius: 16px;
  padding: 16px 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  opacity: 0.5;
  color: #0a0f15;
  font-size: 16px;
  line-height: 16px;
}

.title {
  color: #0a0f15;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.subtitle {
  opacity: 0.5;
  color: #0a0f15;
  font-size: 16px;
  line-height: 16px;
}

.pendingAction {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.actionCircle {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background: transparent;
  color: #0a0f15;
  font-size: 24px;
  line-height: 24px;
}

.alertStripe {
  width: 8px;
  align-self: stretch;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #ff383c;
}

.resultsButton {
  height: 36px;
  padding: 8px 12px;
  border-radius: 40px;
  background: #f0f1f5;
  color: #0a0f15;
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: 1400px) {
  .date,
  .subtitle,
  .resultsButton {
    font-size: 14px;
  }
}
