.card {
  border-radius: 20px;
  border: 2px solid #cfd5df;
  min-height: 238px;
  background: #f5f7fa;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.date {
  font-size: 20px;
  color: #9ca6b5;
  margin-bottom: auto;
}

.name {
  font-size: 32px;
}

.typeLine {
  font-size: 16px;
  color: #566074;
  margin: 8px 0 0;
}

@media (max-width: 1400px) {
  .name {
    font-size: 20px;
  }
}
